<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="d:\temp\internal-nlog-AspNetCore.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="Common.Logging" />
		<add assembly="NLog.Targets.OpenSearch"/>
	</extensions>

	<variable name="appName" value="opensearchjaeger" />

	<!-- the targets to write to -->
	<targets>
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="OpenSearch"
					name="opensearch"
					uri="http://localhost:9200"
					index="${var:appName}-${shortdate}">

				<field name="timestamp" layout="${longdate}" />
				<field name="level" layout="${level}" />
				<field name="message" layout="${message}" />
				<field name="logger" layout="${logger}" />
				<field name="exception" layout="${exception:format=toString}" />

				<!-- Observability fields -->
				<field name="traceId" layout="${activity:traceId}" />
				<field name="spanId" layout="${activity:spanId}" />
		</target>/>
	</targets>


	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="opensearch" />
	</rules>
</nlog>